@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}

/* Custom premium utility for text gradients */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
